<footer>
  <div class="row">
    <div class="col">
      <div class="title">
        <span>KONTAKT Z PRODUCENTEM</span>
        <span> P.P.H.U Gabiga</span>
        <span>  ul. Kopernika 4</span>
     </div>
     <div class="address">
      <span>  49-300 Brzeg</span>
      <span>   NIP: 747-000-01-71</span>
      <span>   biuro@gabiga.pl</span>
      <span>  <p> 666-662-106</p> - Prezes Czesław Gabiga</span>
      <span> <p> 730-290-594</p> - <p>Manager/Leasingi</p> Rafał Matkowski</span>
    </div>
    </div>
    <div class="col">
         <div class="title">
      <span>   KONTAKT Z SERWISEM</span>
      <span> P.P.H.U Gabiga-I Jan Matkowski</span>
      <span>  ul. Kopernika 4</span>
   </div>
   <div class="address">
    <span>  49-300 Brzeg</span>
    <span>  NIP: 747-128-20-42</span>
    <span>   biuro@gabiga.pl</span>
    <span>  <p>605-652-860</p>  - Jan Matkowski</span>
    <span> <p>  601-408-998</p>  - Serwis Zenon Matkowski</span>
    <span> <p> 609-950-729</p>  - Serwis Wiesław Leśniański</span>
  </div>
</div>
  </div>
</footer>
