<header>
  <div class="top-header">
    <p>Gabilift <span>Podnośniki na każdą okazję</span></p>
    <div class="logo"></div>
  </div>
  <nav class="nav-main"><ul>
    <li><a href="">Strona główna</a></li>
    <li class="dropdown-item"><a href="">Urządzenia</a>
    <div class="dropdown"><ul>
      <li><a href="">Windy Towarowe</a></li>
      <li><a href="">Platformy dla osób niepełnosprawnych</a></li>
      <li><a href="">Podnośniki samochodowe</a></li>
    </ul></div>
    </li>
    <li><a href="">Producent</a></li>
    <li><a href="">Resurs</a></li>
    <li><a href="">Kontakt</a></li>
  </ul></nav>
  <div class="front"></div>
  <div class="button-section"><button class="primary">Oferta</button><button class="primary">Kontakt</button></div>
</header>

