<div class="services">
  <h1 class="heading-one">Gabilift</h1>
  <p class="intro">Od początku działalności firma GABIGA zajmuje się produkcją urządzeń hydraulicznych, dla serwisów samochodowych,   stacji kontroli pojazdów i zakładów produkcyjnych branży motoryzacyjnej.Nasze urządzenia zawierają szereg nowatorskich rozwiązań technicznych,gwarantujących łatwość obsługi i bezpieczeństwo pracy. W kontaktach z klientami kierujemy się zasadą bezwzględnej rzetelności, oferujemy urządzenia o najwyższej światowej jakości</p>
  <div class="services-items">
    <div class="item"><p>Windy Towarowe</p><a href="" class="secondary">Sprawdź</a></div>
    <div class="item"><p>Platformy dla osób niepełnosprawnych</p><a href="" class="secondary">Sprawdź</a></div>
    <div class="item"><p>Podnośniki samochodowe</p><a href="" class="secondary">Sprawdź </a></div>
  </div>
</div>
